<a href="https://colab.research.google.com/github/vishnuvarthanv/DataScience/blob/master/Pandas_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Functions

In [ ]:
def add_num(a, b):
 return a+b

In [ ]:
add_num(2,3)

5

## zip

The zip(*iterables) function returns an iterator of tuples, where the i tuple contains the i element from each of the iterables. The length of the tuples is equal to the number of iterables passed to the function. In the following code block, two lists are passed to the zip function, obtaining an iterator of tuples each of length two.

In [ ]:
# list of products
products = ['table', 'chair', 'sofa', 'bed', 'lamp']

# list of prices
prices = [50, 20, 200, 150, 10]

In [ ]:
zip(products, prices)

In [ ]:
#list(zip(products, prices))

In [ ]:

for product, price in zip(products, prices):
    print('Product: {}, Price: {}'.format(product, price))

Product: table, Price: 50
Product: chair, Price: 20
Product: sofa, Price: 200
Product: bed, Price: 150
Product: lamp, Price: 10

## filter

The filter(function, iterable) function takes a function and an iterable as inputs, returning the elements from the iterable for which the function returns True. As with the map function, the filter function does not only accept regular functions (def keyword), but also built-in, and anonymous functions.

In [ ]:
# list of numbers
numbers = [1, 2, 3, 4, 5, 6]

# get odd numbers
filter(lambda x: x % 2, numbers)

In [ ]:
for value in filter(lambda x: x % 2, numbers):
    print('value: {}'.format(value))

value: 1
value: 3
value: 5

In [ ]:
# list of cities
cities = ('Madrid', 'Valencia', 'Barcelona', 'Munich', 'Stuttgart')

# cities that start with M or V
tuple(filter(lambda x: x.startswith(('M', 'V')), cities))
# ('Madrid', 'Valencia', 'Munich')

('Madrid', 'Valencia', 'Munich')

## reduce()

Python's reduce() function iterates over each item in a list, or any other iterable data type, and returns a single value. It's one of the methods of the built-in functools class of Python.

In [ ]:
from functools import reduce
list = [2,3,4,5]
reduce(add_num, list)

14

##map()

Like reduce(), the map() function lets you iterate over each item in an iterable. However, instead of producing a single result, map() operates on each item independently.

Ultimately, you can perform mathematical operations on two or more lists using the map() function. You can even use it to manipulate an array containing any data type.

In [ ]:
b = [1, 3, 4, 6]
a = [1, 65, 7, 9]

# Pass the function and the two lists into the built-in map() function: 
a = sum(map(add_num, b, a))
print(a)

96

## split()

The split() function breaks a string based on set criteria. You can use it to split a string value from a web form. Or you can even use it to count the number of words in a piece of text.

In [ ]:
words = "column1 column2 column3"
words = words.split(" ")
print(words)

['column1', 'column2', 'column3']

## enumerate()

The enumerate() function returns the length of an iterable and loops through its items simultaneously. Thus, while printing each item in an iterable data type, it simultaneously outputs its index.

Assume that you want a user to see the list of items available in your database. You can pass them into a list and use the enumerate() function to return this as a numbered list.

In [ ]:
fruits = ["grape", "apple", "mango"]
for i, j in enumerate(fruits):
 print(i, j)

0 grape
1 apple
2 mango

In [ ]:
[(i,j) for i, j in enumerate(fruits)]

[(0, 'grape'), (1, 'apple'), (2, 'mango')]

## eval()

Python's eval() function lets you perform mathematical operations on integers or floats, even in their string forms. It's often helpful if a mathematical calculation is in a string format.

In [ ]:
g = "(4 * 5)/4"
d = eval(g)
print(d)

5.0

## round()

You can round up the result of a mathematical operation to a specific number of significant figures using round():

In [ ]:
raw_average = (4+5+7/3)
rounded_average=round(raw_average, 2)
print("The raw average is:", raw_average)
print("The rounded average is:", rounded_average)

The raw average is: 11.333333333333334
The rounded average is: 11.33

## max()

The max() function returns the highest ranked item in an iterable. Be careful not to confuse this with the most frequently occurring value, though.

In [ ]:
b = {1:"grape", 2:"apple", 3:"applesss", 4:"zebra", 5:"mango"}
print(max(b.values()))


a = [1, 65, 7, 9]
print(max(a))

zebra
65

## min()

The min() function does the opposite of what max() does:

In [ ]:
fruits = ["grape", "apple", "applesss", "zebra", "mango"]
b = {1:"grape", 2:"apple", 3:"applesss", 4:"zebra", 5:"mango"}

a = [1, 65, 7, 9]

print(min(a))
print(min(b.values()))

1
apple

##slice()

Although the slice() function and the traditional slice method give similar outputs, using slice() in your code can make it more readable.

In [ ]:
b = [1, 3, 4, 6, 7, 10]
st = "Python tutorial"

sliceportion = slice(0, 4)

print(b[sliceportion])
print(st[sliceportion])

[1, 3, 4, 6]
Pyth

##format()

The format() method lets you manipulate your string output. Here's how it works:

In [ ]:
multiple = 5*2
multiple2 = 7*2
a = "{} is the multiple of 5 and 2, but {} is for 7 and 2"
a = a.format(multiple, multiple2)
print(a)

10 is the multiple of 5 and 2, but 14 is for 7 and 2

##strip()

Python's strip() removes leading characters from a string. It repeatedly removes the first character from the string, if it matches any of the supplied characters.

If you don't specify a character, strip removes all leading whitespace characters from the string.

In [ ]:
st = " Python tutorial"
st = st.strip(" P")
print(st)

ython tutorial

##abs()

Do you want to neutralize negative mathematical outputs? Then try out the abs() function. It can come in handy in computational programming or data science operations.

In [ ]:
neg = 4 - 9
pos = abs(neg)
print(pos)

5

## upper()

As the name implies, the upper() method converts string characters into their uppercase equivalent:

In [ ]:
y = "Python tutorial"
y = y.upper()
print(y)

PYTHON TUTORIAL

## lower()

You guessed right! Python's lower() is the opposite of upper(). So it converts string characters to lowercases:

In [ ]:
y = "PYTHON TUTORIAL"
y = y.lower()
print(y)

python tutorial

## sorted()

The sorted() function works by making a list from an iterable and then arranging its values in descending or ascending order:

In [ ]:
f = {1, 4, 9, 3} # Try it on a set
sort = {"G":8, "A":5, "B":9, "F":3} # Try it on a dictionary

print(sorted(f, reverse=True)) # Descending
print(sorted(sort.values())) # Ascending (default)

[9, 4, 3, 1]
[3, 5, 8, 9]

## join()

The join() function lets you merge string items in a list.

You only need to specify a delimiter and the target list to use it:

In [ ]:
a = ["Python", "tutorial", "on", "MUO"]
a = " ".join(a)
print(a)

Python tutorial on MUO

## replace()

Python's replace() method lets you replace some parts of a string with another character. It's often handy in data science, especially during data cleaning.

The replace() method accepts two parameters: the replaced character and the one you'll like to replace it with.

In [ ]:
columns = ["Cart_name", "First_name", "Last_name"]
for i in columns:
 i = i.replace("_", " ")
 print(i)

## isinstance

The isinstance(object, classinfo) function returns True if the object argument is an instance of the classinfo argument. If not, the function returns False. If classinfo is a tuple of objects, the function returns True if object is an instance of any of them.

In [2]:
# check if an object is of type list

numbers = [1, 2, 3, 4, 5]

print(isinstance(numbers, type(list)))
# True

#print(isinstance(numbers, type(float)))
# False
#isinstance(numbers, (list, float))

print(isinstance(numbers, (list, float)))
# True

False
True

#**Pandas Functions for Data Analysis and Manipulation**

https://towardsdatascience.com/11-simple-code-blocks-for-complete-exploratory-data-analysis-eda-67c2817f56cd



https://medium.com/data-science-everywhere/explore-your-data-exploratory-data-analysis-8b54dfdfb898

https://towardsdatascience.com/exploratory-data-analysis-in-python-c9a77dfa39ce

https://towardsdatascience.com/a-starter-pack-to-exploratory-data-analysis-with-python-pandas-seaborn-and-scikit-learn-a77889485baf

https://towardsdatascience.com/creating-python-functions-for-exploratory-data-analysis-and-data-cleaning-2c462961bd71

https://medium.com/swlh/a-complete-guide-to-exploratory-data-analysis-and-data-cleaning-dd282925320f

https://towardsdatascience.com/an-extensive-guide-to-exploratory-data-analysis-ddd99a03199e

https://towardsdatascience.com/semi-automated-exploratory-data-analysis-eda-in-python-7f96042c9809

https://towardsdatascience.com/a-gentle-introduction-to-exploratory-data-analysis-f11d843b8184


https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15

https://towardsdatascience.com/a-complete-exploratory-data-analysis-and-visualization-for-text-data-29fb1b96fb6a

https://medium.com/open-machine-learning-course/open-machine-learning-course-topic-1-exploratory-data-analysis-with-pandas-de57880f1a68

https://medium.com/search?q=Exploratory%20Data%20Analysis

https://medium.com/@atanudan/exploratory-data-analysis-eda-in-python-893f963cc0c0

https://www.analyticsvidhya.com/blog/2021/03/pandas-functions-for-data-analysis-and-manipulation/

https://www.datacamp.com/community/blog/python-pandas-cheat-sheet

#Upload dataset for google colab notebook
    from google.colab import files
    uploaded = files.upload()

#To Reading/Loading the data to DataFrame file using Pandas
	df = pd.read_csv(“HousingData.csv”)
	df=pd.read_csv("nba.csv", index_col ="Name")

    missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
    df = pd.read_csv("employees.csv", na_values = missing_value_formats)

## Read a .csv file to a dataframe with delimiter as space or tab:
	df =  pd.read_csv('data.csv',  sep='\s+', engine='python')
## Read a .csv file to a dataframe with multiple delimiters :
	df =  pd.read_csv('data.csv',  sep='[:,|_]', engine='python')

#To known, how many data points do we have, what are the features available, what is my target variable,data type of each column along with how many non-null values we have.
	df.info()

We need run describe function on our data frame and it will give us some useful information like maximum, minimum, mean, standard deviation, etc which can help us better understand the numeric values in our data and how are they distributed over a column.	
	df.describe()//it will consider only numeric values
	df.describe(include='all') // it will include all columns
	df.describe().T// Result will get in Columns to Rows
	df.describe(include=['object', 'bool'])

#To Display first 7 observation from the data frame
	df.head(7)	

#To Display last 7 observation from the data frame
	df.tail(7)

#To diaplay an observation chosen randomly from the dataset.	
	df.sample(5)
	
#To kown about no of columns & rows present in the data set	
	df.shape

#It results in a number of non null values in each column.	
	df.count()

#To Check the data type	
	df.dtypes
#To columns: As the name suggests, “columns” get the name of all the features/columns in our data frame.
	df.columns
#nsmallest() & nlargest(): So, as the name suggests, “nsmallest() & nlargest()” functions are used to obtain “n” no. of rows from our dataset which are lowest or highest respectively.
	df.nsmallest(4, '<column name>')
	df.nlargest(4, '<column name>')

#To change the column type with the astype method
	df['Churn'] = df['Churn'].astype('int64')

#To see all the different object columns, I use the following code to return a list and inspect the data dictionary for a high level explanation of what these columns represent.
	df.select_dtypes(include=['object']).columns

#To Creating separate continuous and categorical dataframes	
	## Create a dataframe with continuous columns 
		df_cont = df.select_dtypes(include = ['int64','float64'])
	## Create a dataframe with categorical columns 
		df_cat = df.select_dtypes(include =['object'])	

#To inspect my columns and confirm that the change is as expected:
	df.columns
	
#To rename the existing column name #To new column name for the given dataset.
	map_old_to_new_column={'Id': 'id', 'PID': 'pid', 'MS SubClass': 'ms_subclass'}
	df.rename(columns=map_old_to_new_column, inplace=True)
	
	df.columns = [i.replace('-', '_').lower() for i in df.columns] 	

	
#To get rid of just created columns 
	df.drop(['total charge', 'total calls'], axis=1, inplace=True) 

#To delete rows 
	df.drop([1, 2]).head()

# Rows containing duplicate data
	duplicate_rows_df = df[df.duplicated()]

# Dropping the duplicates 
	df = df.drop_duplicates()
	df.head(5)	
	
#To Check the null values present in any of the rows
	data.isnull().values.any()

#To display only rows with at least 1 missing value, type the following:
  df[df.isnull().any(axis=1)]

#To Check the missing values
	df.isnull().sum()
	
#To Check the missing values	
	missing = (df.isnull().sum()/len(df)) * 100
	missing = missing.drop(missing[missing == 0].index).sort_values(ascending=False)
	dfMissing = pd.DataFrame({'MissingPercentage':missing})
	dfMissing
	
# Dropping the missing values.
	df = df.dropna() 
	df.count()	

#To returns the unique values for the variable.
	df.condition.unique()

#np.where, #Since there is a large portion of missing values, the “body” field is transformed into either with_body = “Yes” and with_body = “No”, thus it can be easily analyzed as a categorical variable.
	df['with_body'] = np.where(df['body'].isnull(), 'Yes', 'No')

#timestamp→ month, #Since most data are gather from the year “2021”, there is no point comparing the year. Therefore I kept the month section of the “date”, which also helps to group data into larger subsets.
	df['month'] = pd.to_datetime(df['timestamp']).dt.month.apply(str)
	df['day'] = pd.to_datetime(df['timestamp']).dt.day.apply(str)
	df['year'] = pd.to_datetime(df['timestamp']).dt.year.apply(str)	
	
#To returns the number of unique values for each variable.
	df.nunique(axis=0)	
	
#To check different values present in "status" variable 
	df['status'].value_counts()

#A DataFrame can be sorted by the value of one of the variables (i.e columns).
	df.sort_values(by='#Total day charge', ascending=False).head()
	
#To known the average values of numerical variables for churned users?
	df[df['Churn'] == 1].mean()	

#To known How much time (on average) do churned users spend on phone during daytime?
	df[df['Churn'] == 1]['#Total day minutes'].mean()
	
#To kown, What is the maximum length of international calls among loyal users (Churn == 0) who do not have an international plan?
	df[(df['Churn'] == 0) & (df['International plan'] == 'No')]['#Total intl minutes'].max()	

#DataFrames can be indexed by column name (label) or row name (index) or by the serial number of a row. The loc method is used for indexing by name, while iloc() is used for indexing by number.
	#.loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. 
	
		Dataframe.loc[[:, ["column1", "column2", "column3"]]
		df.loc[0:5, 'State':'Area code']
	
	#.iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Python/NumPy slice semantics). Allowed inputs are:

		df.iloc[0:5, 0:3]
		
		# retrieving multiple rows by iloc method 
		row2 = data.iloc [[3, 5, 7]]
		
		# retrieving rows by iloc method 
		row2 = data.iloc[3] 
	
	df[:1] or df[-1:]//If we need the first or last line of the data frame, 

	#.ix() Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.
		df.ix[:4]
		df.ix[:,'A']

#The query() Method, DataFrame objects have a query() method that allows selection using an expression. You can get the value of the frame where column b has values between the values of columns a and c.
		df4.query('(a < b) & (b < c)') #a,b &c are column names
		
#To apply functions to each column:
	df.apply(np.max)
	df[df['State'].apply(lambda state: state[0] == 'W')].head()#For example, if we need to select all states starting with W, we can do it like this

#The map method can be used #To replace values in a column by passing a dictionary of the form {old_value: new_value} as its argument
	d = {'No' : False, 'Yes' : True} 
	df['International plan'] = df['International plan'].map(d) 
	df.head()
	
	//Same thing can be done with the replace method:
	df = df.replace({'Voice mail plan': d})
	df.head()
	
	#3.8 Remove special characters from categorical columns
	df.replace(to_replace=["?", ";"], value=np.nan)
	
#To Group,In general, grouping data in Pandas goes as follows:
	df.groupby(by=grouping_columns)[columns_#To_show].function()	
	
	Here is an example where we group the data according to the values of the Churn variable and display statistics of three columns in each group:
		columns_to_show = ['total day minutes', 'total eve minutes', 'total night minutes']
		df.groupby(['Churn'])[columns_to_show].describe(percentiles=[])				
				Or	
		df.groupby(['Churn'])[columns_to_show].agg([np.mean, np.std, np.min, np.max])
		
#Summary tables: Suppose we want to see how the observations in our sample are distributed in the context of two variables — Churn and International plan. to do so, we can build a contingency table using the crosstab method:
	pd.crosstab(df['Churn'], df['International plan'])	
	pd.crosstab(df['Churn'], df['Voice mail plan'], normalize=True)
	
#Pivot tables: 
	df.pivot_table(['total day calls', 'total eve calls', 'total night calls'], ['Area code'], aggfunc='mean')
	
#To adding columns to a DataFrame is doable in several ways.
	total_calls = df['total day calls'] + df['total eve calls'] + \ 
				  df['total night calls'] + df['total intl calls'] 
	df.insert(loc=len(df.columns), column='total calls', value=total_calls) 
	df.head()	
		Or
	It is possible #To add a column more easily without creating an intermediate Series instance:
	df['total charge'] = df['total day charge'] + df['total eve charge'] + \ 
                     df['total night charge'] + df['total intl charge']
	df.head()

#A Guide to Handling Missing values in Python
      1. Missing Completely at Random (MCAR)

      The missing values on a given variable (Y) are not associated with other variables in a given data set or with the variable (Y) itself. In other words, there is no particular reason for the missing values.

      2. Missing at Random (MAR)

      MAR occurs when the missingness is not random, but where missingness can be fully accounted for by variables where there is complete information.

      3. Missing Not at Random (MNAR)

      Missingness depends on unobserved data or the value of the missing data itself.

       Now let us look at nullity matrix again to see if can find what type of missingness is present in the dataset.

#**Dealing With Missing Values in Python**

##1. Deleting Missing data
###A. Deleting the column/row with missing data

          df.dropna(axis=1)
          But this is an extreme case and should only be used when there are many null values in the column.
          The problem with this method is that we may lose valuable information on that feature, as we have deleted it completely due to some null values.

###B. Deleting the row with missing data
          df.dropna(axis=1) or
          df.drop("Survived",axis=1,inplace=True)

          If there is a certain row with missing data, then you can delete the entire row with all the features in that row.

          axis=1 is used to drop the column with `NaN` values.
          axis=0 is used to drop the row with `NaN` values.

          In this case, see that we are able to achieve better accuracy than before. This is maybe because the column Age contains more valuable information than we expected.

    **Pros:**
    A model trained with the removal of all missing values creates a robust model.
    **Cons:**
    Loss of a lot of information.
    Works poorly if the percentage of missing values is excessive in comparison to the complete dataset.

##3. Filling the Missing Values – Imputation
  we will be filling the missing values with a certain number.

The possible ways to do this are:

      Filling the missing data with the mean or median value if it’s a 
      numerical variable.
      Filling the missing data with mode if it’s a categorical value.
      Filling the numerical value with 0 or -999, or some other number that will not occur in the data. This can be done so that the machine can recognize that the data is not real or is different.
      Filling the categorical value with a new type for the missing values.

      df['Age'].fillna(updated_df['Age'].mean())

##4. Imputation with an additional column
    Use the SimpleImputer() function from sklearn module to impute the values.

    Pass the strategy as an argument to the function. It can be either mean or mode or median.

    The problem with the previous model is that the model does not know whether the values came from the original data or the imputed value. To make sure the model knows this, we are adding Ageismissing the column which will have True as value, if it is a null value and False if it is not a null value.  

    updated_df = df
    updated_df['Ageismissing'] = updated_df['Age'].isnull()

    from sklearn.impute import SimpleImputer
    my_imputer = SimpleImputer(strategy = 'median')
    data_new = my_imputer.fit_transform(updated_df)
    
    updated_df.info()    

##5. Filling with a Regression Model
    In this case, the null values in one column are filled by fitting a regression model using other columns in the dataset.

    I.E in this case the regression model will contain all the columns except Age in X and Age in Y.

    Then after filling the values in the Age column, then we will use logistic regression to calculate accuracy.

      from sklearn.linear_model import LinearRegression
      lr = LinearRegression()
      df.head()
      testdf = df[df['Age'].isnull()==True]
      traindf = df[df['Age'].isnull()==False]
      y = traindf['Age']
      traindf.drop("Age",axis=1,inplace=True)
      lr.fit(traindf,y)
      testdf.drop("Age",axis=1,inplace=True)
      pred = lr.predict(testdf)
      testdf['Age']= pred